{% extends 'base.html'%}
{% load static%}
{% block 'titulo'%}
Curiosidades
{% endblock%}

{% block 'conteudo'%}

{% include 'parciais/_messages.html'%}          

<h1 class="my-5 text-danger text-center">Curiosidades</h1>
<h3 class="text-center my-5">Principais perguntas: </h3>
<h5>Quando consulto nomes compostos, por exemplo, Maria dos Anjos, Maria Luiza etc, a API não retorna nenhum resultado. Por quê ?</h5>
<p>
O Censo Demográfico 2010 não considerou nos questionários nomes compostos, apenas o primeiro nome e o último sobrenome. Por essa razão, esta API não retorna resultados ao consultar nomes compostos.
</p>

<h5>Há possibilidade desta API liberar consultas pelo sobrenome ?</h5>
<p>
Em virtude da proximidade do Censo Demográfico 2020, é provável que essa informação só esteja disponível após a divulgação do referido Censo.
</p>

<h5>A API distingue nomes diferenciados somente pelo uso de sinais diacríticos (acento agudo, acento circunflexo, acento grave, cedilha, trema e til) como, por exemplo, Antônio e Antonio ?</h5>
<p>
A API não considera o uso de sinais diacríticos, de forma que Antônio e Antonio são contabilizados como Antonio.
</p>

<h5>Consultei pelo meu nome, mas não obtive nenhum resultado. Por quê ?</h5>
<p>
Quando a quantidade de ocorrências for suficientemente pequena a ponto de permitir a identificação delas, o IBGE não informa essa quantidade. No caso da API de Nomes, a quantidade mínima de ocorrências para que seja divulgado os resultados é de 10 por município, 15 por Unidade da Federação e 20 no Brasil.
</p>


<br><br>

{% endblock%}
