{% extends 'base.html'%}
{% load static%}
{% block 'titulo'%}
Ranking dos 20 nomes mais utilizados
{% endblock%}

{% block 'conteudo'%}

{% include 'parciais/_messages.html'%}          

<h1 class="my-5 text-danger text-center">Ranking dos 20 nomes mais utilizados na década de {{decada}}</h1>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Ranking</th>
        <th scope="col">Nome</th>
        <th scope="col">Frequência</th>
      </tr>
    </thead>
    <tbody>
      {% for r in ranking %}
      <tr class="align-middle">
          <td>{{r.ranking}} ° colocado</td>
          <td>{{r.nome}}</td>
          <td>{{r.frequencia}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock%}
